 Team Planning's goal is to provide collaboration and planning capabilities to empower small, autonomous teams to continuously deliver customer and business value with the shortest possible cycle times. Features owned by the Team Planning category include [work items (issues)](https://docs.gitlab.com/ee/user/project/issues/), [tasks](https://docs.gitlab.com/ee/user/tasks.html), [milestones](https://docs.gitlab.com/ee/user/project/milestones/), [iterations](https://docs.gitlab.com/ee/user/group/iterations/), [boards](https://docs.gitlab.com/ee/user/project/issue_board.html), [discussions](https://docs.gitlab.com/ee/user/discussions/), [labels](https://docs.gitlab.com/ee/user/project/labels.html), [todos](https://docs.gitlab.com/ee/user/todos.html), [quick actions](https://docs.gitlab.com/ee/user/project/quick_actions.html), [markdown](https://docs.gitlab.com/ee/user/markdown.html), and [notifications](https://docs.gitlab.com/ee/user/profile/notifications.html). 

We are currently focused on providing industry-leading solutions for the following [Jobs To Be Done (JTBD)](https://about.gitlab.com/handbook/engineering/ux/jobs-to-be-done/):

<%= partial("direction/jtbd-list", locals: { stage_key: "Team Planning" }) %>
